footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-extralightgray;
    padding: 25px;
    width: 100%;
    border-top: 1px solid rgba(97, 99, 101, 0.2);

    .socialmedia {
        margin-bottom: 25px;
        color: black;

        a {
            font-size: 20px;
            color:  $color-dark;
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px;
            transition: all 0.15s ease-in-out;

            &:hover {
                color: $color-theme;
                text-decoration: none;
            }
        }
    }  
}