.mainMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;


    .logo {
        font-size: $font-size-35;
        font-weight: $font-weight-bold;
        color: $color-dark;
        text-decoration: none;

        &:hover {
            color: $color-theme;
            text-decoration: underline;
        }
    }

    .menuLinks {
        font-weight: $font-weight-medium;

        .menuLink {
            color: $color-dark;
            font-weight: $font-weight-medium;
            text-decoration: none;
            margin: 0 1.25rem;
            transition: 0.15s ease-in-out;
            text-decoration: none;


            &:hover {
                color: $color-theme;
                text-decoration: underline;
            }
        }
        
        .active {
            color: $color-theme;
            text-decoration: none;
        }

    }

    .menuIcons {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .menuIcon {
            background-color: $color-white;
            color: black;
            width: 36px;
            height: 36px;
            margin-left: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 12px 5px $color-shadow;
            position: relative;
            transition: 0.15s ease-in-out;

            &:hover {
                color: $color-white;
                background-color: $color-theme;
                text-decoration: none;
                box-shadow: 0 0 12px 5px $color-shadow;
            }
        }
        
        .active {
            color: $color-white;
            background-color: $color-dark;
            text-decoration: none;
            box-shadow: 0 0 12px 5px $color-shadow;
        }
    }
   

}