.productSection2 {
    margin-bottom: 1rem;
    .container {
        max-width: 1680px;
    }

    .divide2 {
        display: flex;
        margin-top: 2rem;

        // Right side-----------------------------
        .textOnImg {
            max-height: auto;
            position: relative;
            display: inline-block;

            .imgSize {
                height: 700px;
                width: 825px;
                padding-right: 0.8rem;
                object-fit: fill;
                // margin-bottom: 4rem;
                padding-left: 0.9rem;
                padding-right: 0.1rem;
            }
            
            .centering {
                position: absolute;
                top: 38%;
                left: 30%;

                .__button {
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                }
            }

            h2 {
                color: $color-white;
                font-size: $font-size-45;
                font-weight: $font-weight-bold;
            }
        }

        // Left side-----------------------------
        .fullwidth {
            width: 100%;
            margin: 0;
            padding: 0;
        
            .colWidth {
                width: 50%;
    
                .productsSize {
                    width: 150%;
                    margin-left: 61%;
                    padding-right: 2rem;
                }
                
            }
        }
    }
}