.product-grid {
    margin-top: 30px;
    margin-bottom: 60px;

    .container {
        display: block;
        text-align: center;
    }

        h1 {
            font-size: 20px;
            font-weight: $font-weight-bold;
            color: $color-dark;
            margin-bottom: 30px;
        }

        .card {
            border: none;
            margin-left: auto;
            margin-right: auto;
            width: 255px;
            
            .card-img {
                display: grid;
                background-color: $linear-gradient-light;
                position: relative;

                img {
                    width: 100%;
                    height: 210px;
                    object-fit: cover;
                }

                .card-menu {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    display: block;
                
                    .menu-link {
                        background-color: $color-white;
                        color: $color-dark;
                        width: 36px;
                        height: 36px;
                        margin-bottom: 15px;
                        border-radius: $border-radius-rounded;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 0 6px 4px $color-shadow;
                        position: relative;
                        border: none;

                        // font-size: $font-size-16;
                        // font-weight: $font-weight-regular;
                        // margin-left: 0.2rem;
        
                        &:hover {
                            color: $color-white;
                            background-color: $color-dark;
                            text-decoration: none;
                        }     
                    }
                }

                .btn-card-theme {
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 50px;

                    // text-align: center;
                    // background-color: $color-theme;
                    // color: $color-white;
                    // // padding: 20px 50px;
                    // transition: all 0.15s ease-in-out;
                }
            }
    
            .card-body {
                text-align: center;

                .card-category {
                    font-size: 13px;
                    font-weight: $font-weight-medium;
                    color: $color-darkgray;
                }
        
                .card-title {
                    font-size: $font-size-16;
                    font-weight: $font-weight-semiBold;
                }
        
                .card-rating {
                    color: $color-theme;
                }
        
                .card-price {
                    font-size: $font-size-18;
                    font-weight: $font-weight-semiBold;
                }

            }
        
        &:hover {
            .card.menu {
                display: flex !important;
            }

            .btn-card-theme {
                display: flex !important;
                color: $color-white;
                // justify-content: center;
            }
        }
    }
}

@media (min-width: 1200px) {
    .product-grid {
        .container {
            max-width: 1110px;
        }

        
    }
}