@media (max-width: 576px) {
   
}

@media (min-width: 577px) {
  
}

@media (min-width: 990px) {
    .topicsSection {
        margin: 0;
        padding: 0;
    
        .TopicsBoxes {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
    
            .boxLeft {
                display: flex;
                width: 809px;
                max-height: auto;
                background-color: #75695C;
                margin-right: 1rem;
    
                .textButton {
                    margin: auto 0;
                    margin: auto 2rem auto 0;
                    padding-left: auto;
                    padding-right: auto;
                }
    
                h2 {
                    color: $color-white;
                    font-size: $font-size-45;
                    font-weight: $font-weight-bold;
                }
            }
    
            .boxRight {
                display: flex;
                width: 809px;
                max-height: auto;
                background-color: #D9D9D9;
                margin-left: 1rem;
    
                .textButton {
                    margin: auto 0 auto 3rem;
                    padding-left: auto;
                    padding-right: auto;
                }
    
                h2 {
                    color: $color-dark;
                    font-size: $font-size-45;
                    font-weight: $font-weight-bold;
                    margin-right: 4rem;
                }
            }
        }
    }
}






