/* Colors --------------------------------------------------*/
$color-theme: #FF7373;  
$color-white: #fff;
$color-extralightgray: #f8f8f8;
$color-lightgray: #70707066;
$color-gray: #BBBBBB;
$color-darkgray: #616365;
$color-dark: #222529; //Font color

$color-shadow: rgba(0, 0, 0, 0.06);

$linear-gradient-dark: #E6E6E6;
$linear-gradient-light: #F5F5F5;

$black-color: #000;
// $color-blackLight: #23262a;
// $color-product-hover: #CDCED0;
// $color-greyMedium: #bebebe;

/* Font, weight and sizes-------------------------------------------*/
    $font-family: 'Poppins', sans-serif;

    $font-weight-regular: 400;
    $font-weight-medium: 500;
    $font-weight-semiBold: 600;
    $font-weight-bold: 700;
    $font-weight-extraBold: 800;

    $font-size-13: 0.813rem;
    $font-size-14: 0.875rem;
    $font-size-16: 1rem;
    $font-size-18: 1.125rem;
    $font-size-20: 1.25rem;
    $font-size-24: 1.5rem;
    $font-size-35: 2.188rem;
    $font-size-45: 2.813rem;
    $font-size-65: 4.063rem;

/* Border radius ------------------------------------------*/
    $border-radius-rounded: 50%;

/* Others --------------------------------------------------*/
    $max-width: 1680px;

